
.vs/config/applicationhost.config
.vs/Whear Web/v15/.suo
.vs/Whear Web/v15/Server/sqlite3/db.lock
.vs/Whear Web/v15/Server/sqlite3/storage.ide
.vs/Whear Web/v15/Server/sqlite3/storage.ide-shm
.vs/Whear Web/v15/Server/sqlite3/storage.ide-wal
