@{
    ViewData["Title"] = "Home";
}

<div class="c5">
    <div class="b">
        <div class="f">
            <h1 class="h1">{heading}</h1>

            <p class="p">{paragraph}</p>
        </div>
    </div>
</div>

<div class="c5">
    <div class="b">
        <div class="f">
            <h1 class="h1">{heading}</h1>

            <p class="p">{paragraph}</p>
        </div>
    </div>
</div>

<div class="c1-3">
    <div class="b">
        <div class="f">
            <h1 class="h1">{heading}</h1>

            <p class="p">{paragraph}</p>
        </div>
    </div>
</div>

<div class="c1-3">
    <div class="b">
        <div class="f">
            <h1 class="h1">{heading}</h1>

            <p class="p">{paragraph}</p>
        </div>
    </div>
</div>

<div class="c1-3">
    <div class="b">
        <div class="f">
            <h1 class="h1">{heading}</h1>

            <p class="p">{paragraph}</p>
        </div>
    </div>
</div>